@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../fonts/dana/style.scss";
@import "../fonts/morabba/style.scss";
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Morabba;
}
* {
  font-family: Dana;

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  color: #2a3547;
}
